<!DOCTYPE html>
<html lang="es-gt">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="montsof" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Hotel ubicado en coatepeque, guatemala. Hotel kimalivic es tiene una calificación de 4/5 en tripadvisor." />
    <meta name="robots" content="index, follow">
    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="~/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrapdp.css" type="text/css" />

    <link rel="stylesheet" href="~/css/custom.css?v=7" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Hotel Kimalivic</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8JFEVJERZ3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8JFEVJERZ3');
    </script>
</head>
<body class="stretched">
    <div id="wrapper" class="clearfix">
        <!-- Header
        ============================================= -->
        <header id="header" class="full-header">
            
            <div id="header-wrap">
                <div class="row d-flex text-center" style="background-color: #00635c">
                    <div class="col-12">
                        <p style="text-align:center; font-size:large; color:white;">TOMAMOS LAS MEDIDAS DE SEGURIDAD Y DE LIMPIEZA NECESARIAS POR EL COVID 19</p>
                    </div>
                    
                </div>
                <div class="container">
                    <div class="header-row">
                        <!-- Logo
            ============================================= -->
                        <div id="logo">
                            <a asp-area="" asp-page="/Index" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Kimali Vic"></a>
                            <a asp-area="" asp-page="/index" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Kimali Vic"></a>
                        </div><!-- #logo end -->
                        <div id="primary-menu-trigger">
                            <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                        </div>
                        <!-- Primary Navigation
            ============================================= -->
                        <nav class="primary-menu">
                            <ul class="menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" asp-area="" asp-page="/Index"><div>Inicio</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" asp-area="" asp-page="/About"><div>Sobre Nosotros</div></a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" asp-area="" asp-page="/Habitaciones"><div>Habitaciones</div></a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a class="menu-link" asp-area="" asp-page="/Restaurante"><div>Restaurante</div></a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a class="menu-link" asp-area="" asp-page="/Eventos"><div>Eventos</div></a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a class="menu-link" href="#footer"><div>Contáctanos</div></a>
                                </li>
                            </ul>
                        </nav><!-- #primary-menu end -->
                    </div>
                </div>
            </div>
            <div class="header-wrap-clone"></div>
        </header><!-- #header end -->

        @RenderBody()


        <footer id="footer" class="dark">
            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">
                <div class="container">

                    <div class="row col-mb-30">

                        <div class="col-md-6 text-center text-md-left">
                            <a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo-dark.png" alt="Kimali Vic"></a>

                        </div>

                        <div class="col-md-6 text-center text-md-right">
                            <div class="d-flex justify-content-center justify-content-md-end">
                                <a href="https://www.facebook.com/hotelkimali.vic" class="btn btn-primary" style="background-color:white" role="button">
                                    <i class="icon-facebook" style="color:#00635c"></i>
                                 </a>

                                <a href="https://www.instagram.com/hotelkimali/" class="btn btn-primary" style="background-color: #00635c;border:none" role="button">
                                    <i class="icon-instagram"></i>
                                </a>

                                <a href="#" class="btn btn-primary" style="background-color: #00635c;border:none" role="button">
                                    <i class="icon-whatsapp"></i>
                                </a>
                            </div>

                            <div class="clear"></div>
                            <span style="color:white"> +502 7775 4982 </span><br />
                            <span style="color:white">hotel_kimali@hotmail.com </span> 

                        </div>

                    </div>

                </div>
            </div><!-- #copyrights end -->
            <div style="text-align:center">
                Copyrights &copy; 2021 All Rights Reserved by Montsof.<br>
            </div>
        </footer><!-- #footer end -->
    </div><!-- #wrapper end -->


    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.min.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/js/functions.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrapdp.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEIy9WNI7Sj1qs586WUxUmlk8-3x0ZzFo&callback=initMap" async></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEIy9WNI7Sj1qs586WUxUmlk8-3x0ZzFo&callback=initMap&libraries=&v=weekly"
            async></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
