@page
@model KimaliVic.Pages.AboutModel
@{
}

<section id="slider" class="slider-element swiper_wrapper vh-75">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark">
                    <div class="container">
                        <div class="slider-caption">
                            <p>Kimali Vic fue fundado en 1994 por Victor Hugo y Roslinda Cardona, en el barrio Guadalupe de Coatepeque.</p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('images/about/standard/1.jpg');"></div>
                </div>

            </div>
        </div>

    </div>
</section>
    @*<div id="posts" class="row gutter-30">

            <div class="entry col-12">
                <div class="grid-inner">
                    <p data-animate="FadeIn">testing</p>
                    <div class="entry-image">
                        <img src="images/about/standard/1.jpg" alt="Standard Post with Image">
                    </div>
                </div>

            </div>
        </div>*@

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="heading-block center">
                    <h3>OFRECIENDO NUESTROS SERVICIOS DESDE 1994</h3>
                    <span>Con todas las amenidades y comodidades</span>
                </div>
            </div>

        </div>
    </section><!-- #content end -->
    <div id="posts" class="row gutter-30">

        <div class="entry col-12">
            <div class="grid-inner">
                <div class="entry-image">
                    <a href="images/about/full/2.jpg" data-lightbox="image"><img src="images/about/standard/2.jpg" alt="Standard Post with Image"></a>
                </div>
            </div>

        </div>
    </div>
