@page
@model KimaliVic.Pages.HabitacionesModel
@{
}

<!-- Page Title
        ============================================= -->
<!--<section id="page-title">

    <div class="container clearfix">
        <h1>Habitaciones</h1>
        <span>Una para cada ocasión</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Habitaciones</li>
        </ol>
    </div>

</section>--><!-- #page-title end -->
<!-- Content
        ============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Portfolio Items
    ============================================= -->
            <div id="portfolio" class="portfolio row grid-container gutter-30" data-layout="fitRows">
                <article class="portfolio-item col-sm-12 col-12 pf-media pf-icons">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider">
                                    <div class="slider-wrap">                                        
                                        <div class="slide"><a href="#"><img src="~/images/habitaciones/suite/4.png" alt="Habitación 1"></a></div>
                                        <div class="slide"><a href="#"><img src="~/images/habitaciones/suite/DSC_0422.png" alt="Habitación 1"></a></div>
                                        <div class="slide"><a href="#"><img src="~/images/habitaciones/suite/DSC_0425.png" alt="Habitación 1"></a></div>
                                        <div class="slide"><a href="#"><img src="~/images/habitaciones/suite/DSC_0492.png" alt="Habitación 1"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-overlay" data-lightbox="gallery">
                                <div class="bg-overlay-content dark" data-hover-animate="fadeIn">
                                    <a href="images/habitaciones/suite/4.png" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                    <a href="images/habitaciones/suite/DSC_0422.png" class="d-none" data-lightbox="gallery-item"></a>
                                    <a href="images/habitaciones/suite/DSC_0425.png" class="d-none" data-lightbox="gallery-item"></a>
                                    <a href="images/habitaciones/suite/DSC_0492.png" class="d-none" data-lightbox="gallery-item"></a>
                                    <a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="1" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <div class="row">
                                <div class="col-9">

                                    <h3 class="text-danger"><a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="1"><strong>Suite</strong></a></h3>
                                    <span><a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="1"><strong style="color:#00635c">Información sobre la habitación</strong></a></span>
                                </div>
                                <div class="col-3"><a class="btn btn-light" asp-area="" asp-page="/Reserva" asp-route-numhabitacion="1">Reservar</a></div>
                            </div>

                        </div>
                    </div>
                </article>     
                <article class="portfolio-item col-sm-12 col-12 pf-graphics pf-uielements">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="#"><img src="images/habitaciones/doble/fotos de 2.png" alt="Habitación 1"></a></div>
                                        <div class="slide"><a href="#"><img src="images/habitaciones/doble/fotso 3.png" alt="Habitación 1"></a></div>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="bg-overlay" data-lightbox="gallery">
                                <div class="bg-overlay-content dark" data-hover-animate="fadeIn">
                                    <a href="images/habitaciones/doble/fotos de 2.png" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
                                    <a href="images/habitaciones/doble/fotso 3.png" class="d-none" data-lightbox="gallery-item"></a>                                    
                                    <a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="3" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <div class="row">
                                <div class="col-9">
                                    <h3 class="text-danger"><a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="3"><strong>Habitación Doble</strong></a></h3>
                                    <span><a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="3"><strong style="color:#00635c">Información sobre la habitación.</strong></a></span>
                                </div>
                                <div class="col-3"><a class="btn btn-light" asp-area="" asp-page="/Reserva" asp-route-numhabitacion="3">Reservar</a></div>
                            </div>
                        </div>
                    </div>
                </article>             
                <article class="portfolio-item col-sm-12 col-12 pf-uielements pf-media">
                    <div class="grid-inner">
                        <div class="portfolio-image">
                            <div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        <div class="slide"><a href="#"><img src="images/habitaciones/simple/6.png" alt="Habitación 1"></a></div>                                     
                                    </div>                                
                                </div>
                            </div>
                            <div class="bg-overlay" data-lightbox="gallery">
                                <div class="bg-overlay-content dark" data-hover-animate="fadeIn">
                                    <a href="images/habitaciones/simple/6.png" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>                                 
                                    <a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="5" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350"><i class="icon-line-ellipsis"></i></a>
                                </div>
                                <div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <div class="row">
                                <div class="col-9">
                                    <h3 class="text-danger"><a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="5"><strong>Habitación Simple</strong></a></h3>
                                    <span><a asp-area="" asp-page="/Habitacion" asp-route-numhabitacion="5"><strong style="color:#00635c">Información sobre la habitación.</strong></a></span>
                                </div>
                                <div class="col-3"><a class="btn btn-light" asp-area="" asp-page="/Reserva" asp-route-numhabitacion="5">Reservar</a></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div><!-- #portfolio end -->
        </div>
    </div>
</section><!-- #content end -->