@page
@model KimaliVic.Pages.ReservaModel
@{
}

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Reservaciones</h1>
        <span style="color: #00635c;">Haz tu reserva!</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="" asp-page="/Habitaciones">Habitaciones</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reservas</li>
        </ol>
    </div>

</section><!-- #page-title end -->

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <div class="row">

                <!-- Portfolio Single Image
                ============================================= -->
                <div class="col-lg-8 portfolio-single-image">
                    <a href="#"><img src="images/portfolio/4/@Model.NombreFoto" style="max-height:400px" alt="Image"></a>
                    <h2>Habitación @Model.NumHabitacion</h2>
                    <p style="background-color: #00635c;">Información habitación</p>
                </div><!-- .portfolio-single-image end -->
                <!-- Portfolio Single Content
                ============================================= -->
                <div class="col-lg-4 portfolio-single-content">

                    <!-- Portfolio Single - Description
                    ============================================= -->
                    <div class="form-widget">

                        <div class="form-result"></div>

                        <form class="mb-0" id="template-contactform" name="template-contactform" method="post">

                            <div class="form-process">
                                <div class="css3-spinner">
                                    <div class="css3-spinner-scaler"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 form-group">
                                    <label style="color: #00635c;" for="template-contactform-name">Nombre</label>
                                    <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label style="color: #00635c;" for="template-contactform-email">Email</label>
                                    <input type="text" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-6 form-group">
                                    <label style="color: #00635c;" for="template-contactform-checkin">Check In</label>
                                    <input type="text" id="template-contactform-checkin" name="template-contactform-checkin" value="" class="required sm-form-control datetimepicker" />
                                </div>

                                <div class="col-6 form-group">
                                    <label style="color: #00635c;" for="template-contactform-checkout">Check Out </label>
                                    <input type="text" id="template-contactform-checkout" name="template-contactform-checkout" value="" class="required sm-form-control datetimepicker" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label style="color: #00635c;" for="template-contactform-telefono">Telefono</label>
                                    <input type="text" id="template-contactform-telefono" name="template-contactform-telefono" value="" class="sm-form-control required" />
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-6 form-group">
                                    <label style="color: #00635c;" for="template-contactform-adultos">Adultos</label>
                                    <select id="template-contactform-adultos" name="template-contactform-adultos" class="sm-form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>




                                <div class="col-6 form-group">
                                    <label style="color: #00635c;" for="template-contactform-ninos">Niños</label>
                                    <select id="template-contactform-ninos" name="template-contactform-ninos" class="sm-form-control">
                                        <option value="0">--Seleccionar--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>

                                <div class="w-100"></div>

                                <div class="col-4 form-group">
                                    <button class="btn btn-light" style="background-color: #00635c; color:white;" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">RESERVAR</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="line"></div>
                </div><!-- .portfolio-single-content end -->

            </div>
        </div>
    </div>
</section><!-- #content end -->



@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if (window.jQuery().datetimepicker) {
                $('.datetimepicker').datetimepicker({
                    // Formats
                    // follow MomentJS docs: https://momentjs.com/docs/#/displaying/format/
                    format: 'DD-MM-YYYY',
                    icons: {
                        time: 'clock-o',
                        date: 'calendar',
                        up: 'chevron-up',
                        down: 'chevron-down',
                        previous: 'chevron-left',
                        next: 'chevron-right',
                        today: 'check',
                        clear: 'trash',
                        close: 'times'
                    }
                });
            }
        });
    </script>
}